/* nav bar section start here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: white;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}
.logo{
   
    color: rgb(11, 11, 11);
    padding: 2px 8px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
}

.logo:hover{
    background-color: rgb(121, 164, 173);
    color: rgb(225, 211, 211);
    padding: 2px 8px;
}

.navbar {
    color: #0b0b0b;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
}

.navbar .logo span{
    color: #b8a89f;
}

.navbar .menu-links{
    display: flex;
    list-style: none;
    gap: 50px;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
}

.navbar a:hover{
    color: black;
}

#close-menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn{
    color: #074b5f;
    background-color: #fff;
    width: 40px;
    border-radius: 4px;
    padding-left: 8px;
    cursor: pointer;
    display: none;
}

#hamburger-btn:hover{
    color: white;
    background-color: #074b5f;
    transition: 1.5s ease-in-out;
}

@media (max-width: 1200px) {
    header{
        padding: 20px;
    }
}

    header.show-mobile-menu::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    .navbar .logo{
        font-size: 1.5rem;
    }

    #hamburger-btn, #close-menu-btn {
        display: block;
    }

    .navbar .menu-links{
        position: fixed;
        top: 0;
        left: -380px;
        width: 380px;
        height: 100vh;
        background: #fff;
        flex-direction: column;
        padding: 90px 20px 0;
        transition: left 0.5s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar a{
        color: #000;
    }

/* nav bar styling end here! */

/* style for entreprenuers start here! */

.H-one4one{
    margin: 0;
    padding: 21px;
    background-color: #5288937d;
    border-radius: 20px;
    transition: background-color 2s ease;
    align-items:center;
}

.profile_photo{
    border-radius: 50%;
}


.H-phoomyat{
    margin: 0;
    padding: 21px;
    background-color: #5288937d;
    border-radius: 20px;
    transition: background-color 2s ease;
    align-items:center;
}
.H-minishin{
    margin: 0;
    padding: 21px;
    background-color: #5288937d;
    border-radius: 20px;
    transition: background-color 2s ease;
    align-items:center;
}

/* Pop up for One4One */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(39 37 14 / 84%); /* Semi-transparent black overlay */
    justify-content: center;
    align-items: center;
    animation: fadeInOverlay  2.5s ease forwards;
  }

  /* Styles for the popup box */
  .popup {
    background: #fff; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    text-align: center;
    animation: slideInPopup   2.5s ease forwards;
  }

@keyframes fadeInOverlay {
  from{
      opacity: 0;
  }
  to{
      opacity: 10;
  }
}

@keyframes slideInPopup {
  from{
      transform: translateY(-50px);
      opacity: 0;
  }
  to{
      transform: translateY(0);
      opacity: 1;
  }
}

  /* Close button style */
  .close-btn {
    cursor: pointer;
    color: #333;
    font-size: 20px;
    font-weight: 500; 
    padding: 0px 4px;
    float: right;
    border: 1px solid #333;
    border-radius: 20%;
    transition: color 0.3s ease;
    display: inline;
    animation: rotateOutCloseBtn 0.5s ease forwards; /* Animation for close button */
  }

  @keyframes fadeOutPopup {
      from{
          opacity: 10;
      }
      to{
          opacity: 0;
          transform: translateY(-50px);
      } 
  }

  @keyframes slideOutPopup {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-50px);
      opacity: 0;
    }
  }

  .close-btn:hover{
      color: #ffffff;
      background-color: #000000;
  }

  
  @keyframes rotateOutCloseBtn {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg); /* Rotate by 180 degrees on click */
    }
  }

/* Popup for Phoo Myat */
.overlay_PM {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgb(14 39 18 / 84%); /* Semi-transparent black overlay */
justify-content: center;
align-items: center;
animation: fadeInOverlay 2.5s ease forwards;
}

/* Styles for the popup box */
.popup_PM {
background: #fff; /* White background */
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
text-align: center;
animation: slideInPopup 2.5s ease forwards;
}

/* Close button style */
.close-btn_PM {
cursor: pointer;
color: #333;
font-size: 20px;
font-weight: 500;
padding: 0px 4px;
float: right;
border: 1px solid #333;
border-radius: 20%;
transition: color 0.3s ease;
display: inline;
animation: rotateOutCloseBtn 0.5s ease forwards; /* Animation for the close button */
}
.close-btn_PM:hover{
color: #ffffff;
background-color: #000000;
}

@keyframes fadeInOverlay {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

@keyframes slideInPopup {
from {
    transform: translateY(-50px);
    opacity: 0;
}

to {
    transform: translateY(0);
    opacity: 1;
}
} 
/* Pop up for phoo myat end */

/* Popup for Mini SHin */
.overlay_MS {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgb(39 14 14 / 84%); /* Semi-transparent black overlay */
justify-content: center;
align-items: center;
animation: fadeInOverlay 2.5s ease forwards;
}

/* Styles for the popup box */
.popup_MS {
background: #fff; /* White background */
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
text-align: center;
animation: slideInPopup 2.5s ease forwards;
}

/* Close button style */
.close-btn_MS {
cursor: pointer;
color: #333;
font-size: 20px;
font-weight: 500;
padding: 0px 4px;
float: right;
border: 1px solid #333;
border-radius: 20%;
transition: color 0.3s ease;
display: inline;
animation: rotateOutCloseBtn 0.5s ease forwards; /* Animation for the close button */
}
.close-btn_MS:hover{
color: #ffffff;
background-color: #000000;
}

@keyframes fadeInOverlay {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

@keyframes slideInPopup {
from {
    transform: translateY(-50px);
    opacity: 0;
}

to {
    transform: translateY(0);
    opacity: 1;
}
} 
/* Pop up for MiniShin end */

section{
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}